<main class="mainAvisClients">
  <!-- <button id="top-btn" *ngIf="showBtn$ | async"class="material-icons" (click)="gotoTop()"> arrow_upward </button> -->
  <h2 class="H2avisClient">tous les avis clients</h2>

  <section class="gridCom" *ngIf="admin || !admin ">


    <section class="globCom" *ngFor="let avisclient of avisclients | paginate : {itemsPerPage: tableSize, currentPage: page, totalItems: count};let i = index ">
      <p>Avis laisser par "{{avisclient.userName}}",{{avisclient.createdAt | timeAgo}} </p>


      <article class="descriptionCom"><textarea name="description" cols="60"
          rows="2">{{avisclient.description}}</textarea>
      </article>

      <div *ngIf="admin || author " class="bouttonCommentaire">
        <div class="BtnModCom">
          <button type="submit" class="btnModifComAvisClients"><a
              routerLink="../avis-clients-update/{{avisclient._id}}">Modifier</a></button>

        </div>
        <div class="BtnSuppCom">
          <button onclick='return confirm("Êtes-vous sûr de vouloir supprimer?")'
            (click)="deleteAvisClients(avisclient._id)" type="submit" class="btnSuppComAvisClients"><i
              class="fa-solid fa-trash"></i> Supprimer</button>

        </div>
      </div>

    </section>
    <pagination-controls class="ngx" previousLabel="Précedent" nextLabel="Suivant"
      (pageChange)="onTableDataChange($event)"></pagination-controls>
  </section>



  <section class="globPosterCom">
    <article class="posterCommentaireavisClients" *ngIf="admin || user">

      <h3 class="h3AvisClients">Poster votre avis clients.</h3>
      <form class="formAvisClients" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <label for="userName">Prénom</label>
        <input type="text" class="form-control" name="userName" [(ngModel)]="form.userName" required minlength="3"
          maxlength="20" #userName="ngModel" placeholder="votre prénom" />

        <textarea class="descrptionCommentaire form-group" type="description" [(ngModel)]="form.description"
          name="description" placeholder="écrivez votre commentaire"></textarea>

        <!-- <div class="alert-danger" *ngIf="form.description.errors && f.submitted">
          <div *ngIf="form.description['required']">un avis client est requis</div>
          
        </div> -->


        <button type="submit" class="btnPosterAvisClients">Ajouter un avis</button>

        <div class="alert alert-warning" *ngIf="f.submitted && !isPublished">
          Publication failed!<br />{{ errorMessage }}
        </div>

      </form>
      <div class="alert alert-success" *ngIf="isPublished">
        Votre avis a bien été publier!
      </div>


    </article>

  </section>

</main>