<main class="maintableauUsers">
    <section class="tableauUsers">
        <div *ngIf="admin else elseBlock">
            <h2>Liste des utilisateurs</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>email</th>
                        <th>role</th>
                        <th class="action">action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users ">
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.isAdmin ? 'admin' : 'user'}}</td>
                        <td><a routerLink="../user-edit/{{user._id}}">modifier</a><button onclick='return confirm("Êtes-vous sûr de vouloir supprimer?")' type="submit"
                            class="btnSuppUser"  (click)="deleteUser(user._id)" >Supprimer</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #elseBlock>
            <div class="alert alert-danger">vous n'etes pas admin</div>
        </ng-template>
    </section>
</main>