  <main>
     <div class="prestations">

            <div class="coaching">
                <img src="/assets/coachingprofessionel.jpg" alt="coaching">
                <h2>Coaching Professionnel</h2>        
                <p>Premiere séance => 65€ (2h)</p>
                <p>A partir de la deuxiéme séance => 50€ (1h30)</p>
            </div>

            <div class="access">
                <img src="/assets/accessBar.jpg" alt="access-bars">
                <h2>Séance access bars</h2>        
                <p> séance => 60€</p>
                
            </div>

            <div class="eft">
                <img src="/assets/eft.jpg" alt="eft">
                <h2>Séance EFT</h2>        
                <p> Adultes & Enfants => 65€</p>
                
            </div>

            <div class="entretien">
                <img src="/assets/entretien.jpg" alt="entretien">
                <h2>Préparation aux entretiens d'embauche</h2>
                <p>Travail argumentaire</p>
                <p>Mise en confiance</p>  
                <p>Simulation d'entretiens 50€/H</p>  
                
            </div>
        </div>

        <div class="for">
            <div class="forfait">
                <img src="/assets/coaching5.png" alt="5h">

                <h2 >Forfait de 5h de coaching</h2>      
                <p>sur entretiens => 200€</p>
                
            </div>
        </div>
    
    </main>   
     