<main class="mainAvisClientsUpdate">
    
    <h2 class="H2avisClient">Modifier votre avis clients</h2>

    <section class="posterCommentaireavisClients">
        <div class="PosterCommentaires">
          <h3 class="h3AvisClients">Poster votre avis clients.</h3>
          <form class="formAvisClients" >
            <textarea class="descrptionCommentaire" name="description" class="textareaAvisClient" cols="70" rows="5"
              placeholder="écrivez votre commentaire"></textarea>
            <button type="submit" class="btnPosterAvisClients">Ajouté un avis</button>
          </form>
        </div>
      </section>

</main>
