
<main class="contact">


  <div class="locaux">
        <h1>Nos locaux :</h1>
    
        
            <section class="texte">
                <p>Mme Poulain Èlodie</p>
                <p>17,Rue faubourg st-Èloi</p>
                <p>61400 Mortagne-au-Perche</p>
            </section>

            <section class="plan">
              
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2642.5466910303035!2d0.5398033154907977!3d48.522753979255974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e23050adfc560d%3A0xab617eff2c596f32!2s17%20Rue%20du%20Faubourg%20Saint-Eloi%2C%2061400%20Mortagne-au-Perche!5e0!3m2!1sfr!2sfr!4v1664984975314!5m2!1sfr!2sfr"
                      loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </section>
            
        
    </div>

    <div class="contacter">
            <h1>Nous contacter</h1>

        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate> 

          <label for="nom">Nom</label>
          <input type="text" id="nom" name="nom" [(ngModel)]="form.nom" required minlength="3"
          maxlength="20" #nom="ngModel" placeholder="votre Nom..">
          <label for="prenom">Prénom</label>
          <input type="text" id="prenom" name="prenom"[(ngModel)]="form.prenom" required minlength="3"
          maxlength="20" #prenom="ngModel" placeholder="votre prénom">

          <div class="form-group" id="divEmail" >
            <label for="email">adresse email:</label>
            <input id="email" name="email" type="email"  [(ngModel)]="form.email"
                required email #email="ngModel" aria-describedby="emailHelp" placeholder="email">
            <div class="alert-danger" *ngIf="email.errors && f.submitted">
                <div *ngIf="email.errors['required']" style="color: crimson">L'email est obligatoire</div>
                <div *ngIf="email.errors['email']" style="color: crimson">
                    Adress email non valid
                </div>
            </div>
        </div>



          <label for="question">Question</label>
          <select id="question" name="question" [(ngModel)]="form.question" required 
           #question="ngModel" >
            <option value="Demande de rdv">Demande de rdv</option>
            <option value="Demande d'information">Demande d'information</option>
            <option value="Demande d'analyse">Demande d'analyse</option>
            <option value="Autre demande">Autre demande</option>
          </select>
          <label for="sujet">Message</label>
          <textarea id="sujet" name="message" [(ngModel)]="form.message" placeholder="détail de votre demande.." ></textarea>
          <input class="submit" type="submit" value="Envoyer">


          <div class="alert alert-warning" *ngIf="f.submitted && !isPublished">
            message echoué!<br />{{ errorMessage }}
          </div>

        </form>
        <div class="alert alert-success" *ngIf="f.submitted && isPublished">
          Votre message a bien été publier!
        </div>
      </div>

      





</main>